aliyun-python-sdk-core==2.13.30
aliyun-python-sdk-ecs==4.23.0
aliyun-python-sdk-rds==2.5.1
altgraph==0.17
beautifulsoup4==4.9.3
bidict==0.21.2
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
click==7.1.2
cryptography==3.2.1
et-xmlfile==1.0.1
form==0.0.1
future==0.18.2
idna==2.10
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
jmespath==0.10.0
MarkupSafe==1.1.1
Naked==0.1.31
openpyxl==3.0.5
pefile==2019.4.18
pocsuite3==1.6.5
prompt-toolkit==3.0.8
pycparser==2.20
pygame==2.0.0
Pygments==2.7.3
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
PyQt5==5.15.1
pyqt5-plugins==5.15.1.1
PyQt5-sip==12.8.1
pyqt5-tools==5.15.1.2
PyQt5Designer==5.14.1
python-dotenv==0.15.0
python-engineio==4.0.0
python-socketio==5.0.3
pywin32-ctypes==0.2.0
PyYAML==5.3.1
qt5-applications==5.15.1.1
requests==2.25.0
requests-toolbelt==0.9.1
shellescape==3.8.1
simplejson==3.17.2
six==1.15.0
soupsieve==2.1
urllib3==1.26.2
wcwidth==0.2.5
Werkzeug==1.0.1
